* {
  margin: 0;
  padding: 0;
}
body {
  border: 3px solid #70c1b3;
  background: #caf0f8 !important;
  font-family: "Courgette", cursive;

  font-family: "Roboto Slab", serif;
  /* box-sizing: border-box; */
}

/* navbar */
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  /* background: linear-gradient(to right, #84dcc6, #b2dbbf); */
  background: linear-gradient(
    90deg,
    rgb(29, 204, 189) 0%,
    hsla(210, 81%, 22%, 1) 100%
  );
  /* background: linear-gradient(
    -90deg,
    hsla(333, 100%, 53%, 1) 0%,
    hsla(33, 94%, 57%, 1) 100%
  ); */
  padding: 0 !important;
}

.bann .container-fluid .row {
  /* background: #4361ee; */
  display: block !important;
  height: 650px !important;
}

* .t-gr {
  color: #2ec4b6;
}

.lead,
.cardbody {
  color: #2ec4b6;
}

.cardbody li {
  font-weight: bold;
}

.why .jumbotron .t-gr {
  color: #2ec4b6;
}
.jumbotron {
  background: #284b63 !important;
}

.services .bg-dgr {
  background: #284b63;
}
.navbar-brand img {
  height: 60px;
  padding-left: 25px;
}

/* padding: Y X */
.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  color: whitesmoke !important;
  font-weight: 600;
  float: right;
  text-align: left;
  font-family: "Merriweather", serif;
}

.navbar-toggler {
  outline: none !important;
  border: none !important;
}

/* sliders */

/* carousel */
.text-inline li {
  display: inline list-item;
  text-decoration-color: darkmagenta;
}

.slide {
  margin: 0 auto;
  width: 90%;
  height: auto;
  /* height: 50%; */
}

.carousel-caption h5,
p {
  font-family: "Merriweather", serif;
  color: darkmagenta;
}

.carousel-indicators {
  /* background: black; */
}

.hides {
  display: none;
}
/* Packages Row bug */

.packages .img {
  display: flex !important;
}

.gallery .row {
  display: flex !important;
}

@media (min-width: 450px) {
  .d-md-3 {
    font-size: 4.5rem !important;
    line-height: 1.2;
    font-weight: 300;
  }
}
